/* The styles are mobile first. */

#body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --font-family: "Roboto", sans-serif;

    --default-bg-color: #ffff;
    --default-txt-color: #0000;
    --default-line-height: 1.5;
    --default-txt-size: 1em;

    --default-btw-gap: 1em;

    --theme-color-1: #D91E41;
    --theme-color-2: #8C142A;
    --theme-color-3: #F26B83;
    --theme-color-4: #F2F2F2;
    --theme-color-5: #D9A282;

    --screen-size-mobile-sm: 320px;
    --screen-size-mobile-md: 375px;
    --screen-size-mobile-lg: 425px;
    --screen-size-tablet: 768px;
    --screen-size-laptop: 1024px;
    --screen-size-laptop-lg: 1440px;

    --container-width-sm: 94%;
    --container-width-md: 90%;
    --container-width-lg: 80%;

    --nav-height: 60px;
}

.a {
    text-decoration: none;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
.p {
    font-family: var(--font-family);
    text-align: left;
}

.h1 {
    font-size: 40px;
    font-weight: 400;
    font-style: bold;
}

.h2 {
    font-size: 30px;
    font-weight: 400;
    font-style: normal;
}

.h3,
.h4 {
    font-size: 18px;
    font-weight: 400;
    font-style: normal;
}

.h5 {
    font-size: 16px;
    font-weight: 350;
    font-style: normal;
}

.h6 {
    font-size: 12px;
    font-weight: 350;
    font-style: normal;
}

.p {
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    line-height: var(--default-line-height);
    margin-bottom: var(--default-btw-gap);
}

.container{
    margin: 0 auto;
    width: var(--container-width-sm);
}

.gap{
    margin-bottom: var(--default-btw-gap);
}

.a-button {
    background-color: var(--theme-color-2);
    color: white;
    padding: 0.8rem;
    border-radius: 1rem;
    border: 1px solid var(--theme-color-2);
    display: block;
    width: fit-content;
}

.img {
    height: auto;
    width: 100%;
    border-radius: 1rem;
}

.title {
    font-size: 30px;
}

#nav{
    height: var(--nav-height);
    background-color: var(--theme-color-2);
    display: flex;
    justify-content: flex-end;
    align-items: center;    
}

#nav .img-logo{
    /* width: 80%; */
    height: auto;
    max-width: 150px;
    min-width: 150px;
    margin: 0 1rem;
}

.links-container{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}

#nav .a {
    height: 100%;
    padding: 0 20px;
    display: flex;
    align-items: center;
    font-size: 20px;
    color: white;
    /* border: 5px solid var(--theme-color-2); */

}

#nav .a:hover{
    border-color: var(--theme-color-3);
    text-decoration-line: underline;
    text-decoration-thickness: 5px;
    text-decoration-color: var(--theme-color-3);
}

/* #nav .home-link {
    margin-right: auto;
} */

#sidebar-active {
    display: none;
}

.open-sidebar-button, .close-sidebar-button {
    display: none;
    /* padding: 0 20px; */
}

@media (max-width: 837px){
    .links-container{
        /* display: none; */
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        padding-top: 1rem;
        position: fixed;
        top: 0;
        right: -100%;
        z-index: 10;
        width: 300px;
        background-color: var(--theme-color-2);
        box-shadow: -5px 0 5px rgba(140, 20, 42, 0.25);
        transition: 0.75s ease-out;
    }

    #nav .a{
        box-sizing: border-box;
        height: auto;
        width: 100%;
        padding: 20px 30px;
        justify-content: flex-start;
    }

    .open-sidebar-button, .close-sidebar-button {
        display: block;
        padding: 20px;
    }

    #sidebar-active:checked ~ .links-container{
        /* display: flex; */
        right: 0;
    }

    #sidebar-active:checked ~ #overlay{
        height: 100%;
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 9;
    }
}